.container {
  margin: 0 auto;
  padding: 0 60px;
  display: flex;

  .main_content {
    display: flex;
    // border: 1px solid red;
    flex-wrap: wrap;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
    h1,
    h2 {
      padding: 0 20px;
      font-family: SF Pro Display;
    }
    p {
      padding: 0 20px;
      font-family: SF Pro Display;
    }
  }

  img {
    max-width: 600px;
    padding: 30px 0 0 0;

    img:hover {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  img {
    width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      width: 600px;
    }
  }
}
@media only screen and (max-width: 660px) {
  .container {
    // max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 450px;
      // padding-left:50px ;
    }
  }
}
// @media only screen and (max-width:500px) {

// }
@media only screen and (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    max-width: 455px;

    .main_content {
      max-width: 340px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    img {
      max-width: 360px;
    }
  }
}
