.header__container{
    color: #2e2e38;
}
.title{
    font-size: 2.5rem;
    a{
        text-decoration: none;
        color: black;
    }
  
}


.nav__list{
display: flex;
list-style: none;
margin: -0.875rem 0 2.77rem 0 ;
border-bottom: 1px solid rgba(0, 0, 0, 0.39);


.nav__item{
    
    color: #999999;
    font-size:.875rem;
    margin-right: 1.3rem;
    text-decoration: none;

    &:hover{
        color: #666666;
    }

    &.active{
        color:#000000
    }

   
}
}